<table>
<tr>
<TD><%= _("Password") %>:</TD>
<td><%= password_field 'fuser', 'password' %></td>
</tr>
<tr>
<TD><%= _("Confirm password") %>:</TD>
<td><%= password_field 'fuser', 'password_confirmation' %><br>
</td>
</tr>

</table>

<%= submit_tag _("Change") %>
