
<%= headline _("Hotspot settings") %>
<br>
<%= image_tag 'ok.png' %> <span style='font-size:12pt'><%= _("You successfully purchased a hotspot account") %></span>

<br>
<br>

<table style='font-size: 15pt'>
 <tr><td><%= _("Username") %></td><td style='padding-left:20pt;font-weight:bold;font-family:monospace;letter-spacing:2pt;'><%= @dp.username %></td></tr>
 <tr><td><%= _("Password") %></td><td style='padding-left:20pt;font-weight:bold;font-family:monospace;letter-spacing:2pt;'><%= @dp.password %></td></tr>
</table>



